/* variables setup */
:root {
    --editfields_minwidth: 280px;
    --editfields_maxwidth: 1000px;
    --editfields_height: 48px;
    --editfields_fontsize: 20px;
    --editfields_smallfontsize: 16px;
    --editfields_padding_x: 12px;
    --editfields_padding_y: 21px;
    --editfields_badgesize: 42px;
    --editfields_title_fontsize: 61px;
}

.smallfontsize {
    font-size: var(--editfields_smallfontsize);
}

.addtask_maindiv {
    padding: 50px;
}

/* buttonstyle for multiple use */
.btnAddOk,
.btnCancel {
    min-height: 48px;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: background-color 100ms ease-in-out;
    cursor: pointer;
}

.btnRightAlign {
    align-self: flex-end;
}

.btnAddOk {
    background-color: #2a3547;
    border: 1px solid #2A3647;
    font-size: var(--editfields_fontsize);
    font-weight: 700;
    color: white;
}

.btnCancel {
    background-color: white;
    border: 1px solid #2A3647;
    font-size: var(--editfields_fontsize);
    font-weight: 400;
    color: #2A3647;
}

.btnCancel:hover {
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.btnCancel:hover>div>span {
    color: #29ABE2;
}

.btnCancel:hover>div>img {
    content: url('../img/icons/add-task/cancel-high.svg');
}

.btnCancel:active {
    border: 1px solid #091931;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.btnCancel:active>div>span {
    color: #091931;
}

.btnCancel:active>div>img {
    content: url('../img/icons/add-task/cancel-activ.svg');
}



.btnAddOk>img,
.btnCancel>img {
    height: 22px;
    width: 22px;
}

.btnAddOk>div,
.btnCancel>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.btnAddOk:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 1px solid #29ABE2;
}

.btnAddOk:active {
    background-color: #091931;
    border: 1px solid #2A3647;
}

.required>span::after {
    content: '*';
    color: #ff8190;
}

.addtask_title {
    display: block;
    font-size: var(--editfields_title_fontsize);
    font-weight: 700;
    color: black;
    margin-bottom: 48px;
}

.addtask_form {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    flex-grow: 1;
    gap: 48px;
    overflow-x: hidden;
}

.addtask_edit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
    width: 50%;
}

.addtask_property {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.addtask_property>span {
    position: relative;
    font-size: var(--editfields_fontsize);
    font-weight: 400;
    color: #2a3647;
    margin-bottom: 8px;
}

.addtask_property>input,
.addtask_property>div>input:not(input[subtask]),
.addtask_property>textarea,
.addtask_property>div[addtask_property] {
    min-width: var(--editfields_minwidth);
    max-width: var(--editfields_maxwidth);
    width: 100%;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    font-size: var(--editfields_fontsize);
    font-weight: 400;
    color: black;
    background-color: white;
}

.addtask_property>input,
.addtask_property>div>input,
.addtask_property>textarea {
    /* padding: 12px 21px 12px 21px; */
    padding: var(--editfields_padding_x) var(--editfields_padding_y);
    outline: unset;
}

.addtask_property>input::placeholder,
.addtask_property>div>input::placeholder,
.addtask_property>input[type=date]:invalid::-webkit-datetime-edit,
.addtask_property>textarea::placeholder,
.addtask_assigned>input::placeholder {
    color: #d1d1d1;
}

.addtask_property>div[addtask_property],
.addtask_property>input {
    height: var(--editfields_height);
}

.addtask_property>div>div[addtask_property] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.addtask_assigned[dropdownopen='true']+div {
    max-height: 210px;
    min-height: 100px;
    overflow: auto;
}

.addtask_property>textarea {
    position: relative;
    height: calc(var(--editfields_height) * 3);
    resize: none;
    min-height: 80px;
    max-height: 150px;
}

.addtask_property>textarea:focus+span.textarea_cleft{
    color: #29abe2;
}

.addtask_property>span.textarea_cleft {
    color: transparent;
    font-size: var(--editfields_smallfontsize);
    font-weight: 400;
    align-self: flex-end;
    user-select: none;
}

.addtask_assigned[dropdownopen='true'],
.addtask_category_div[dropdownopen='true'] *.addtask_category,
.addtask_property>input:focus,
.addtask_subtask_div:has(input[subtask]:focus),
.addtask_property>textarea:focus {
    border: 1px solid #29abe2;
}

.addtask_category_div[dropdownopen='true'] *.addtask_category_list {
    max-height: 300px;
}


.addtask_assigned,
.addtask_category {
    min-width: var(--editfields_minwidth);
    max-width: var(--editfields_maxwidth);
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    font-size: var(--editfields_fontsize);
    font-weight: 400;
    padding: var(--editfields_padding_x) var(--editfields_padding_y);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    cursor: pointer;
    height: var(--editfields_height);
}

.addtask_assigned:has(>input:focus),
.addtask_assigned>input:focus {
    flex-grow: 1;
    cursor: default;
}

.addtask_assigned>input {
    border: unset;
    outline: unset;
    font-size: var(--editfields_fontsize);
    font-weight: 400;
    cursor: pointer;
    width: 100%;
}

.dropdown_arrow {
    cursor: pointer;
    height: 24px;
    width: 24px;
    border-radius: 1000px;
    transition: background-color 100ms ease-in-out,
        transform 100ms ease-in-out;
}

.dropdown_arrow:hover {
    background-color: #d1d1d1;
}

.addtask_assigned_list,
.addtask_category_list {
    position: absolute;
    z-index: 5;
    width: 100%;
    max-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
    background-color: white;
    border-radius: 10px;
    font-size: var(--editfields_fontsize);
    font-weight: 400;
    overflow: hidden;
    transition: max-height 125ms ease-in-out;
}

.subtask_list,
.addtask_assigned_list {
    scrollbar-gutter: stable;
}

.addtask_category_list {
    box-shadow: 0px 0px 14px 3px #0000000A;
}

.addtask_assigned_list>div,
.addtask_category_list>div {
    height: var(--editfields_height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
}

.addtask_assigned_list>div>label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.addtask_assigned_list>div>input {
    display: none;
}

.addtask_assigned_list>div:has(input[type='checkbox']:checked) {
    background-color: #2A3647;
}

.addtask_assigned_list>div:hover:has(input[type='checkbox']:checked) {
    background-color: #091931;
}

.addtask_assigned_list>div:has(input[type='checkbox']:checked)>label>span:nth-child(2) {
    color: white;
}

.addtask_assigned_list>div:has(input[type='checkbox']:checked)>label>img {
    content: url('../img/icons/add-task/cf-checked-white.svg');
}

.addtask_assigned_list>div:has(input[type='checkbox']):hover,
.addtask_category_list>div:hover {
    background-color: #eeeeee;
}

.addtask_assigned_list>div>label>span:first-child {
    width: var(--editfields_badgesize);
    height: var(--editfields_badgesize);
    border-radius: 1000px;
    border: 2px solid white;
    font-size: var(--editfields_smallfontsize);
    font-weight: 500;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addtask_assigned_list>div>label>span:nth-child(2) {
    font-size: var(--editfields_smallfontsize);
    flex-grow: 1;
}

.assignedcontacts_bar {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.assignedcontacts_bar>span {
    border-radius: 1000px;
    border: 2px solid white;
    width: var(--editfields_badgesize);
    height: var(--editfields_badgesize);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--editfields_smallfontsize);
}

.separatorline {
    width: 1px;
    background-color: #d1d1d1;
}

.addtask_priority {
    container-type: inline-size;
    container-name: prioritybar;
    min-width: var(--editfields_minwidth);
    max-width: var(--editfields_maxwidth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--editfields_fontsize);
    font-weight: 400;
}

@container prioritybar (max-width: 420px) {
    .addtask_priority>label>span {
        display: none;
    }

    .addtask_priority>label {
        min-width: 60px !important;
        width: 30% !important;
    }
}

.addtask_priority>label {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 8px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    cursor: pointer;
}

.addtask_priority>label:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.addtask_priority>input[type=radio]:checked+label:hover {
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.taskprio_urgent:checked+label {
    color: white;
    background-color: #FF3D00;
}

.taskprio_medium:checked+label {
    color: white;
    background-color: #FFA800;
}

.taskprio_low:checked+label {
    color: white;
    background: #7AE229;
}

.taskprio_urgent:checked+label>img {
    content: url('../img/icons/add-task/Prio-urgent-white.svg');
}

.taskprio_medium:checked+label>img {
    content: url('../img/icons/add-task/Prio-medium-white.svg');
}

.taskprio_low:checked+label>img {
    content: url('../img/icons/add-task/Prio-low-white.svg');
}

.addtask_priority>input {
    display: none;
}

.addtask_category {
    caret-color: transparent;
}

.addtask_category_div {
    position: relative;
    height: var(--editfields_height);
}

.addtask_category_div>div:first-child {
    position: absolute;
    width: 100%;
    height: var(--editfields_height);
    border: 1px solid transparent;
    z-index: 1;
    cursor: pointer;
}

.addtask_category_div>img {
    height: 24px;
    width: 24px;
    z-index: 2;
    position: absolute;
    border-radius: 1000px;
    cursor: pointer;
    right: var(--editfields_padding_y);
    top: calc(calc(var(--editfields_height) - 24px) / 2);
    transition: background-color 100ms ease-in-out,
        transform 100ms ease-in-out;
}

.addtask_category_div>img:hover {
    background-color: #d1d1d1;
}

*[dropdownopen='true'] img {
    transform: rotate(180deg);
}

.addtask_subtask_div {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.addtask_subtask_div>input {
    border: unset;
    border-radius: 10px;
    width: 100%;
    font-size: var(--editfields_fontsize);
    font-weight: 400;
}

.addtask_subtask_div>div {
    height: 100%;
    display: none;
    padding-right: var(--editfields_padding_y);
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    transition: display 125ms ease-in-out;
}

.addtask_subtask_div>div[subtaskaction]>div {
    height: 60%;
    width: 1px;
    background-color: #D1D1D1;
}

.addtask_subtask_div:has(input:focus)>div[subtaskaction] {
    display: flex;
}

.addtask_subtask_div:has(input:not(:focus))>div[subtaskadd] {
    display: flex;
}

.addtask_subtask_div img {
    height: 24px;
    width: 24px;
    z-index: 2;
    border-radius: 1000px;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.addtask_subtask_div img:hover {
    background-color: #D1D1D1;
}

.subtask_list {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    align-items: stretch;
    min-width: var(--editfields_minwidth);
    max-width: var(--editfields_maxwidth);
    font-size: var(--editfields_smallfontsize);
    font-weight: 400;
    overflow-x: hidden;
}

.subtask_list[maxheight] {
    min-height: calc(var(--editfields_height) * 3);
    max-height: calc(var(--editfields_height) * 3);
}

.subtask_row {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    min-height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    user-select: none;
}

.subtask_row>input {
    font-size: var(--editfields_smallfontsize);
    font-weight: 400;
    outline: unset;
    border: unset;
}

.subtask_row[editmode=true],
.subtask_row[editmode=true]:hover {
    background-color: white;
    border-radius: 0;
    border-bottom: 1px solid #005DFF;
}

.subtask_row[editmode=false]>div[showaction] {
    display: none;
}

.subtask_row[editmode=false]:hover>div[showaction] {
    display: flex;
}

.subtask_row[editmode=true]>div[editaction] {
    display: flex;
}

.subtask_row[editmode=true]>div[showaction] {
    display: none;
}

.subtask_row[editmode=true]>div[lipoint] {
    display: none;
}

.subtask_row[editmode=true]>span {
    display: none;
}

.subtask_row[editmode=false]>input,
.subtask_row[editmode=false]>div[editaction] {
    display: none;
}

.subtask_row[editmode=fasle]>div[showaction] {
    display: flex;
}


.subtask_row>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.subtask_row img {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.subtask_row div[line] {
    width: 1px;
    height: 30px;
    background-color: #d1d1d1;
}

.subtask_row>input,
.subtask_row>span {
    flex-grow: 1;
}

.subtask_row:hover {
    background-color: #e1e1e1;
}

.subtask_point {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 1000px;
}

/* TASK */
.task_action {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.task_action>div>span:first-child {
    color: #ff8190;
}

.task_action>div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

form[edittask]:invalid button.btnAddOk,
form[addtask]:invalid button.btnAddOk {
    pointer-events: none;
    background-color: #D1D1D1;
    border: #E1E1E1;
}

@media (max-width: 1200px) {
    .addtask_edit {
        width: 100%;
    }

    .task_action button[type=reset] {
        display: none;
    }

    .addtask_maindiv {
        padding: 32px;
    }

    .addtask_form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-grow: 1;
        overflow-x: hidden;
    }

    div.separatorline {
        display: none;
    }

}

@media (max-width: 500px) {
    :root {
        --editfields_minwidth: 200px;
        --editfields_maxwidth: 1000px;
        --editfields_height: 40px;
        --editfields_fontsize: 16px;
        --editfields_smallfontsize: 12px;
        --editfields_padding_x: 6px;
        --editfields_padding_y: 10px;
        --editfields_badgesize: 30px;
        --editfields_title_fontsize: 42px;
    }

    .addtask_maindiv {
        padding: 16px;
        margin-bottom: 40px;
    }

    .task_action:not(:has(div[boardsite])) {
        z-index: 10;
        background-color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 0;
        margin-bottom: 79px;
        padding: 10px;
    }

    .subtask_list {
        min-height: 0;
    }

    .addtask_subtask_div>div {
        padding-right: 6px;
    }

}