.addtask_maindiv,
.help_maindiv,
.legal_notice_maindiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.addtask_sitediv,
.help_sitediv,
.legal_notice_sitediv {
    margin-top: 90px;
    margin-left: 90px;
    margin-right: 90px;
}

/* variables setup */
:root {
    --editfields_minwidth: 280px;
    --editfields_maxwidth: 770px;
    --editfields_height: 48px;
    --property_description_gap: 8px;
}

/* buttonstyle for multiple use */
.btnAddOk,
.btnCancel {
    height: 48px;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: background-color 100ms ease-in-out;
}

.btnAddOk {
    background-color: #2a3547;
    border: 1px solid #2A3647;
    font-size: 21px;
    font-weight: 700;
    color: white;
}

.btnCancel {
    background-color: white;
    border: 1px solid #2A3647;
    font-size: 20px;
    font-weight: 400;
    color: #2A3647;
}

.btnCancel:hover {
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.btnCancel:hover>div>span {
    color: #29ABE2;
}

.btnCancel:hover>div>img {
    content: url('../img/icons/add-task/cancel-high.svg');
}

.btnCancel:active {
    border: 1px solid #091931;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.btnCancel:active>div>span {
    color: #091931;
}

.btnCancel:active>div>img {
    content: url('../img/icons/add-task/cancel-activ.svg');
}



.btnAddOk>img,
.btnCancel>img {
    height: 22px;
    width: 22px;
}

.btnAddOk>div,
.btnCancel>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.btnAddOk:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 1px solid #29ABE2;
}

.btnAddOk:active {
    background-color: #091931;
    border: 1px solid #2A3647;
}

.required>span::after {
    content: '*';
    color: #ff8190;
}

.addtask_title {
    font-size: 61px;
    font-weight: 700;
    color: black;
    margin-bottom: 48px;
}

.addtask_form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 48px;
}

.addtask_edit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
    width: 45%;
}

.edit_property {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.edit_property>span {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: #2a3647;
    margin-bottom: 8px;
}

.edit_property>input,
.edit_property>div[edit_property],
.edit_property>textarea {
    min-width: var(--editfields_minwidth);
    max-width: var(--editfields_maxwidth);
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    font-size: 20px;
    font-weight: 400;
    padding: 12px 21px 12px 21px;
    outline: unset;
    color: black;
    background-color: white;
}

.edit_property>input::placeholder,
.edit_property>textarea::placeholder {
    color: #d1d1d1;
}

.edit_property>div[edit_property],
.edit_property>input {
    height: var(--editfields_height);
}

.edit_property>div>div[edit_property] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.edit_assigned[dropdownopen='true'] {
    border: 1px solid #29abe2;
}

.edit_assigned[dropdownopen='true']>input::placeholder {
    color: #d1d1d1;
}

.edit_assigned[dropdownopen='true']+div {
    max-height: 200px;
    min-height: 100px;
    overflow: auto;
}

.edit_property>textarea {
    height: calc(vat(--editfields_height) * 3);
    resize: none;
    min-height: 80px;
    max-height: 150px;
}

.edit_property>input:focus,
.edit_property>textarea:focus {
    border: 1px solid #29abe2;
}

.edit_assigned,
.edit_category {
    min-width: var(--editfields_minwidth);
    max-width: var(--editfields_maxwidth);
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    font-size: 20px;
    font-weight: 400;
    padding: 12px 21px 12px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.edit_assigned:has(>input:focus),
.edit_assigned>input:focus {
    flex-grow: 1;
    cursor: default;
}

.edit_assigned>input,
.edit_assigned>input::placeholder {
    border: unset;
    outline: unset;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    color: black;
}

.dropdown_arrow {
    height: 24px;
    width: 24px;
    border-radius: 1000px;
    transition: background-color 100ms ease-in-out,
        transform 100ms ease-in-out;
}

.dropdown_arrow:hover {
    background-color: #d1d1d1;
}

.dropdown_arrow[open='true'] {
    transform: rotate(180deg);
    cursor: pointer;
}

.edit_assigned_list,
.edit_category_list {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    transition: max-height 125ms ease-in-out;
}

.edit_assigned_list {
    scrollbar-gutter: stable;
}

.edit_category_list {
    box-shadow: 0px 0px 14px 3px #0000000A;
}

.edit_assigned_list>div,
.edit_category_list>div {
    height: var(--editfields_height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
}

.edit_assigned_list>div>input {
    display: none;
}

.edit_assigned_list>div:has(input[type='checkbox']:checked) {
    background-color: #2A3647;
}

.edit_assigned_list>div:hover:has(input[type='checkbox']:checked) {
    background-color: #091931;
}

.edit_assigned_list>div:has(input[type='checkbox']:checked)>span:nth-child(2) {
    color: white;
}

.edit_assigned_list>div:has(input[type='checkbox']:checked)>img {
    content: url('../img/icons/add-task/cf-checked-white.svg');
}

.edit_assigned_list>div:has(input[type='checkbox']):hover,
.edit_category_list>div:hover {
    background-color: #eeeeee;
}

.edit_assigned_list>div>span:first-child {
    width: 42px;
    height: 42px;
    border-radius: 1000px;
    border: 2px solid white;
    font-size: 12px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_assigned_list>div>span:nth-child(2) {
    flex-grow: 1;
}

/* Firefox */
.list_scrollbar {
    /* scrollbar-width: thin;
    scrollbar-color: #78879c white; */
}

/* Chrome, Edge, and Safari */
.list_scrollbar::-webkit-scrollbar {
    width: 8px;
}

.list_scrollbar::-webkit-scrollbar-track {
    background-color: white;
}

.list_scrollbar::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 8px;
}

.assignedcontacts_bar {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.assignedcontacts_bar>span {
    border-radius: 1000px;
    border: 2px solid white;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separatorline {
    width: 1px;
    background-color: #d1d1d1;
}

.addtask_priority {
    container-type: inline-size;
    container-name: prioritybar;
    min-width: var(--editfields_minwidth);
    max-width: var(--editfields_maxwidth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

@container prioritybar (max-width: 420px) {
    .addtask_priority>label>span {
        display: none;
    }

    .addtask_priority>label {
        width: 60px !important;
    }
}

.addtask_priority>label {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 8px;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.addtask_priority>label:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.addtask_priority>input[type=radio]:checked+label:hover {
    box-shadow: 0px 0px 4px 0px #0000001A;
}

#taskprio_urgent:checked+label {
    color: white;
    background-color: #FF3D00;
}

#taskprio_medium:checked+label {
    color: white;
    background-color: #FFA800;
}

#taskprio_low:checked+label {
    color: white;
    background: #7AE229;
}

#taskprio_urgent:checked+label>img {
    content: url('../img/icons/add-task/Prio-urgent-white.svg');
}

#taskprio_medium:checked+label>img {
    content: url('../img/icons/add-task/Prio-medium-white.svg');
}

#taskprio_low:checked+label>img {
    content: url('../img/icons/add-task/Prio-low-white.svg');
}

.addtask_priority>input {
    display: none;
}

.task_action {
    margin-top: 146px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.task_action>div>span:first-child {
    color: #ff8190;
}

.task_action>div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

@media (max-width: 1200px) {
    .addtask_form {
        flex-direction: column;
        gap: 16px;
    }

    .addtask_edit {
        width: unset;
    }

    .task_action>div:nth-child(2) {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 16px;
    }
}