/* GENERAL */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    margin: 0;
    height: 100vh;
    display: flex;
    max-width: 1920px;
    margin: auto;
}

main {
    background-color: var(--site-bg);
    flex: 1;
    display: flex;
}

a {
    display: block;
    text-decoration: none;
}

a:link {
    color: unset;
}

a:visited {
    color: unset;
}


/* STRUCTURE */

.contact-container {
    width: calc(456px);
    height: calc(100vh - 96px);
    padding-left: 56px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3;
    box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
    position: relative;
}

.show-contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    margin-left: 55px;
    flex: 1;
    overflow: hidden;
}

/* SHOW CONTACT VIEW */

.headline-container {
    display: flex;
    align-items: center;
    height: 73px;
    gap: 30px;
    margin-bottom: 32px;
}

.headline-container>div {
    display: flex;
    align-items: center;
    gap: 30px;
}

.headline-contact {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

.headline-seperator {
    width: 3px;
    height: 59px;
    border-radius: 3px;
    background-color: var(--accent);
}

.subheadline-contact {
    font-size: 27px;
    font-weight: 400;
}

.show-contact-large-container {
    display: flex;
    align-items: center;
    gap: 54px;
    margin-bottom: 50px;
}

.edit-delete-contact {
    display: flex;
    gap: 16px;
}

.edit-contact {
    width: 63px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 11px;
    transition: font-weight 70ms ease-in-out;
}

.edit-contact:hover {
    color: var(--accent);
    font-weight: bold;
    cursor: pointer;
}

.edit-contact:hover img {
    content: url('../img/icons/contacts/pen-blue.svg');
}

.delete-contact {
    width: 81px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 11px;
    transition: font-weight 70ms ease-in-out;
}

.delete-contact:hover {
    color: var(--accent);
    font-weight: bold;
    cursor: pointer;
}

.delete-contact:hover img {
    content: url('../img/icons/contacts/trash-blue.svg');
}

.info-headline {
    margin-bottom: 50px;
}

.info-headline span {
    font-size: 20px;
    font-weight: 400;
}

.info-entry-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.bold {
    font-size: 16px;
    font-weight: 700;
}

/* BUTTON */

.add-button-container {
    padding: 22.5px 0;
    background-color: white;
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}

.add-contact-btn {
    height: 56px;
    width: 352px;
    background-color: #2a3547;
    border-radius: 10px;
    border: 1px solid #2A3647;
    transition: background-color 80ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.add-contact-btn span {
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.add-contact-btn:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: unset;
    cursor: pointer;
}

.add-contact-btn:active {
    background-color: #091931;
    border: 1px solid #2A3647;
}

/* CONTACTS */

.contact-letter {
    font-size: 20px;
    font-weight: 400;
    width: 352px;
    height: 58px;
    margin: 0;
    padding-left: 36px;
    display: flex;
    align-items: center;
}

.contact-seperator {
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;
    margin: 8px 0;
}

.contact-data-container {
    width: 352px;
    height: 78px;
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 15px 24px 15px 24px;
    border-radius: 10px;

}

.contact-data-container:hover {
    background: linear-gradient(#F9F9F9, #F0F0F0);
    cursor: pointer;
}

.contact-data-container-active {
    width: 352px;
    height: 78px;
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 15px 24px 15px 24px;
    border-radius: 10px;
    background-color: var(--primary);
}

.contact-data-container-active .contact-name {
    color: white;
}

.contact-bg {
    width: 42px;
    height: 42px;
    background-color: #FF7A00;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-bg-large {
    width: 120px;
    height: 120px;
    background-color: #FF7A00;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--btn-shdw-td);
}

.contact-short {
    color: white;
    font-size: 12px;
    font-weight: 400;

}

.contact-short-large {
    color: white;
    font-size: 47px;
    font-weight: 500;
}

.contact-name-email-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-name {
    font-size: 20px;
    font-weight: 400;
}

.contact-name-large {
    display: block;
    font-size: 47px;
    font-weight: 500;
    margin-bottom: 12px;
}

.user-entry {
    transition: transform 700ms ease-in-out;
    transform: translateX(1000%);
}

.contact-email {
    font-size: 16px;
    font-weight: 400;
    color: var(--contact-ma);
}

/* ADD & EDIT CONTACT */

.created-msg-bg {
    width: 326px;
    height: 74px;
    border-radius: 20px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    transform: translateX(1000%);
    transition: transform 700ms ease-in-out;
}

.created-msg-text {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.add-edit-contact-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: background-color 700ms ease-in-out;
}

.add-edit-contact {
    max-width: 1212px;
    height: 594px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    background: linear-gradient(90deg, rgba(42, 54, 71, 1) 15%, rgba(255, 255, 255, 1) 20%);
    border-radius: 30px;
    transform: translateX(1000%);
    transition: transform 700ms ease-in-out;
    display: flex;
}

.add-edit-contact-left {
    width: 467px;
    height: 100%;
    padding: 66px 48px 66px 48px;
    gap: 12px;
    background-color: var(--primary);
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-edit-contact-left img {
    width: 55px;
    height: 66px;
}

.add-edit-contact-left h2 {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
    color: white;
}

.add-edit-contact-left span {
    font-size: 27px;
    font-weight: 400;
    color: white;
}

.add-edit-contact-left div {
    width: 90px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--accent);
}

.add-edit-contact-middle {
    padding: 204px 0 0 83px;
}

.add-edit-contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 48px;
}

.add-edit-contact-right>div>img {
    margin-right: -1.5px;
}

.add-edit-contact-right>div:first-child {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 53px;
    transition: background-color 100ms ease-in-out;
}

.add-edit-contact-right>div:first-child:hover {
    cursor: pointer;
    background-color: #E1E6EC;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input-class {
    width: 422px;
    height: 50px;
    border-radius: 10px;
    padding: 13px 21px 13px 21px;
    border: 1px solid #d1d1d1;
    background-repeat: no-repeat;
    background-position: center right 21px;
    font-size: 20px;
    font-weight: 400;
}

.input-class:focus {
    border: 1px solid var(--accent);
    outline: none;
}

.name-input {
    background-image: url('../img/icons/contacts/person.svg');
}

.email-input {
    background-image: url('../img/icons/contacts/mail.svg');
}

.phone-input {
    background-image: url('../img/icons/contacts/call.svg');
}

.button-container {
    width: 422px;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.cancel-button {
    display: flex;
    align-items: center;
    padding: 16px;
    border: 1px solid var(--primary);
    background-color: transparent;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    gap: 8px;
}

.cancel-button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--accent);
    border: 1px solid var(--accent);
}

.cancel-button:hover>img {
    content: url('../img/icons/contacts/cancel-accent.svg');
}

.cancel-button:active {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.cancel-button:active>img {
    content: url('../img/icons/contacts/cancel-active.svg');
}

.create-button {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: var(--primary);
    border: 0;
    transition: background-color 80ms ease-in-out;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    color: white;
    gap: 8px;
}

.create-button:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.create-button:active {
    background-color: #091931;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* DELETE CONTACT */

.delete-contact-proof-window {
    width: 500px;
    height: 250px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    background: linear-gradient(180deg, rgba(42, 54, 71, 1) 40%, rgba(255, 255, 255, 1) 20%);
    border-radius: 30px;
    transform: translateX(1000%);
    transition: transform 700ms ease-in-out;
}

.delete-question-container {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-question {
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-align: center;
    display: block;
}

.delete-button-container {
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cancel-delete {
    height: 60px;
}

.yes-delete {
    height: 60px;
}

/* MOBILE */

.mobile-back-arrow {
    position: fixed;
    top: 128px;
    right: 16px;
    transition: transform 80ms ease-in-out;
    display: none;
}

.mobile-back-arrow:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.mobile-menu-button-bg {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: var(--btn-shdw-ttb);
    background-color: var(--primary);
    display: none;
    align-items: center;
    justify-content: center;
    transition: background-color 80ms ease-in-out;
    position: fixed;
    bottom: 112px;
    right: 16px;
    z-index: 2;
}

.mobile-menu-button-bg:hover {
    cursor: pointer;
    background-color: var(--accent);
}

.mobile-menu-bg {
    width: 116px;
    height: 100px;
    background-color: white;
    border-radius: 20px 20px 0 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--btn-shdw-ttb);
    position: fixed;
    bottom: 100px;
    right: 8px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 160ms ease-in-out;
}

.mobile-menu-bg>div {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.mobile-menu-nav-button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.mobile-menu-nav-button>span {
    font-size: 16px;
    font-weight: 400;
}

.mobile-menu-nav-button:hover {
    cursor: pointer;
    color: var(--accent);
}

.mobile-menu-nav-button-edit:hover>img {
    content: url('../img/icons/contacts/pen-blue.svg');
}

.mobile-menu-nav-button-delete:hover>img {
    content: url('../img/icons/contacts/trash-blue.svg');
}

.mobile-menu-active {
    transform: scaleX(1);
}

.mobile-add-contact-button-bg {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: var(--btn-shdw-ttb);
    background-color: var(--primary);
    display: none;
    align-items: center;
    justify-content: center;
    transition: background-color 80ms ease-in-out;
    position: fixed;
    bottom: 112px;
    right: 16px;
}

.mobile-add-contact-button-bg:hover {
    cursor: pointer;
    background-color: var(--accent);
}

.mobile-add-contact-button {
    width: 32px;
    height: 32px;
}

.hide {
    display: none;
}

@media only screen and (max-width: 1400px) {
    .headline-container {
        flex-direction: column;
        gap: 8px;
        height: unset;
        align-items: start;
    }

    .headline-container>div {
        flex-direction: column-reverse;
        align-items: start;
        gap: 12px;
    }

    .headline-seperator {
        width: 90px;
        height: 3px;
        border-radius: 6px;
    }

    .show-contact-large-container {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
}

@media only screen and (max-width: 1250px) {
    .add-edit-contact-middle {
        padding: 204px 0 0 20px;
    }

    .add-edit-contact-right {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 1080px) {
    .mobile-add-contact-button-bg {
        display: flex;
    }

    .mobile-menu-button-bg {
        display: flex;
    }

    .mobile-back-arrow {
        display: block;
    }

    .contact-container {
        flex: 1;
        padding: 24px 38px;
        z-index: 0;
        height: unset;
    }

    .main-contacts-container {
        width: 100%;
    }

    .contact-data-container {
        width: 100%;
    }

    .contact-data-container-active {
        width: 100%;
    }

    .add-button-container {
        display: none;
    }

    .edit-delete-contact {
        display: none;
    }

    .show-contact-container {
        display: none;
        margin-top: 48px;
        margin-left: 16px;
        position: relative;
    }

    .user-entry {
        transform: unset;
    }

    .headline-contact {
        font-size: 47px;
    }

    .subheadline-contact {
        font-size: 20px;
    }

    .show-contact-large-container {
        flex-direction: row;
        align-items: center;
        margin-bottom: 21px;
    }

    .contact-name-large {
        font-size: 36px;
        margin: 0;
    }

    .contact-bg-large {
        width: 80px;
        height: 80px;
    }

    .contact-short-large {
        font-size: 27px;
    }

    .info-headline {
        margin-bottom: 21px;
    }
}

@media only screen and (max-width: 980px) {
    .input-class {
        width: 300px;
    }

    .button-container {
        width: 300px;
    }

    .create-button span {
        display: none;
        flex-direction: row-reverse;
    }

    .create-button::after {
        content: 'Create';
        display: block;
    }
}