/* HEADER */

header {
    background-color: white;
    height: 96px;
    box-shadow: var(--header-shdw-ttb);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 32px;
    height: 32px;
    padding: 6px;
    transition: 60ms ease-in-out;
}

header img:hover {
    padding: 4px;
    cursor: pointer;
}

.header-kanbanboard-headline {
    margin-left: 348px;
    font-size: 20px;
    font-weight: 400;
}

.header-help-user-container {
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-user-bg {
    width: 56px;
    height: 56px;
    border: 3px solid var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 60ms ease-in-out;
}

.header-user-bg:hover {
    background-color: #E1E6EC;
    cursor: pointer;
}

.header-user {
    font-size: 18px;
    font-weight: 700;
    color: var(--accent);
}

.header-help-link:hover {
    background-color: unset;
}

.header-menu-container {
    width: 150px;
    height: 158px;
    background-color: var(--primary);
    box-shadow: var(--btn-shdw-td);
    border-radius: 20px 0 20px 20px;
    padding: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 96px;
    right: 20px;
}

.header-menu-link {
    width: 130px;
    height: 46px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    color: var(--icon-grey) !important;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: 100ms ease-in-out;
}

.header-menu-link:hover {
    background-color: #2A3D59;
    font-size: 16.5px;
}