* {
    box-sizing: border-box;
    font-family: Inter;
}

body{
    margin: 0;
}

.main {
    display:flex;
}

.content {
    margin-left: 96px;
}
.addtask-btn {
    height: 48px;
    width: 160px;
    background-color: #2a3547;
    border-radius: 10px;
    margin-left: 32px;
    border: 1px solid #2A3647;
    transition: background-color 100ms ease-in-out;
}

.addtask-btn>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.addtask-btn:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: unset;
}

.addtask-btn:active {
    background-color: #091931;
    border: 1px solid #2A3647;
}

