* {
    box-sizing: border-box;
    font-family: Inter;
}

body{
    margin: 0;
}

/* to be determinated */
.maindiv {
    min-height: 100vh;
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.maincontent {
    flex-grow: 1;
    background-color: #F6F7F8;
}

.content_maindiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 110px;
    margin-left: 90px;
    margin-right: 90px;
}
