body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 232px;
    height: 100vh;
    margin: 0;
    position: sticky;
    top: 0;
    background-color: #2A3647;
    color: #CDCDCD;
}
.navbar_logo {
    margin-top: 64px;
}
.nav_list {
    display: flex;
    justify-content: center;
}
.nav_list_element {
    display: flex;
    align-items: center;
    color: #CDCDCD;
    text-decoration: none;
    width: 100%;
    padding: 6px 46px 6px 46px;
    margin-bottom: 24px;
    cursor: pointer;
    transition-duration: 175ms;
}
.nav_list_element:hover {
    background-color: #091931;
    transition-duration: 175ms;
    transform: scale(1.1);
}
.nav_list_element span {
    padding: 0 0 0 16px;
    font-size: 16px;
}
.nav_security_links {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 16px;
    margin-bottom: 64px;
}
.nav_security_links a {
    color: #A8A8A8;
    text-decoration: none;
}

@media screen and (max-width: 594px) {
    nav {
        width: auto;
        height: auto;
        position: relative;
    }
    .nav_elements {
        background-color: #2A3647;
        margin: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        position: fixed;
        bottom: -1px;
        left: 0;
        width: 100vw;
    }
    .nav_list_element {
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }
    .navbar_logo, .nav_security_links {
        display: none;
    }
}