* {
    box-sizing: border-box;
}

main {
    background-color: var(--site-bg);
    flex: 1;
    padding-left: 96px;
    padding-top: 110px;
}

a {
    display: block;
    text-decoration: none;
}

a:hover {
    background-color: var(--primary);
}

a:link {
    color: unset;
}

a:visited {
    color: unset;
}

/* SUMMARY HEADLINE */

.summary-headline-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.summary-headline {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
}

.vector-seperator {
    height: 59px;
    width: 3px;
    border-radius: 3px;
    background-color: var(--accent);
}

.summary-subheadline {
    font-size: 27px;
    font-weight: 400;
}

/* STRUCTURE MAIN SECTION */

.main-info-container {
    display: flex;
    gap: 80px;
}

/* SUMMARY MAIN */

.summary-main-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 56px;
}

.summary-taskinfo {
    display: flex;
    gap: 32px;
}

.task-to-do-done {
    background-color: white;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    padding: 38px 19px 38px 19px;
    box-shadow: var(--btn-shdw-td);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    transition: 120ms ease-in-out;
}

.task-important {
    background-color: white;
    width: 560px;
    height: 168px;
    border-radius: 30px;
    padding: 38px 19px 38px 19px;
    box-shadow: var(--btn-shdw-td);
    transition: 120ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.task-counter-container {
    display: flex;
    gap: 28px;
}

.task-counter {
    background-color: white;
    width: 168px;
    height: 168px;
    border-radius: 30px;
    padding: 38px 19px 38px 19px;
    box-shadow: var(--btn-shdw-td);
    transition: 120ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SUMMARY INFO INNER */

.task-amount {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}

.upper-task-text {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.tib-width {
    width: 83px;
}

.upper-img-bg {
    height: 69px;
    width: 69px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.important-task-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.important-img-bg {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--urgent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.important-task-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.important-text-bold {
    font-size: 21px;
    font-weight: 700;
}

.important-text {
    font-size: 16px;
    font-weight: 400;
}

.important-seperator {
    width: 2px;
    height: 102.02px;
    background-color: #D1D1D1;
}

/* WELCOME CONTAINER */

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.welcome-message {
    font-size: 47px;
    font-weight: 500;
    margin: 0;
}

.username {
    font-size: 64px;
    font-weight: 700;
    color: var(--accent);
    margin: 0;
}

/* HOVER EFFECTS */

.hover-to-the-right:hover {
    width: 282.5px;
    height: 184px;
    margin-bottom: -16px;
    margin-right: -19px;
    box-shadow: var(--btn-shdw-ttb);
}

.hover-to-the-right:hover .upper-img-bg {
    background-color: white;
}

.hover-to-the-right:hover .upper-img-bg>img {
    content: url('../img/icons/summary/pencil-dark.svg');
}

.hover-to-the-right:hover .task-amount, .hover-to-the-right:hover .upper-task-text {
    color: white;
}

.hover-to-the-right:active {
    background-color: #F9F9F9;
    box-shadow: var(--btn-shdw-ttb);
    width: 264px !important;
    height: 168px !important;
    margin: 0;
}

.hover-to-the-right:active .upper-img-bg>img {
    content: url('../img/icons/summary/pencil.svg');
}

.hover-to-the-right:active .upper-img-bg {
    background-color: var(--primary);
}

.hover-to-the-right:active .upper-img-bg>img {
    filter: unset;
}

.hover-to-the-right:active .task-amount, .hover-to-the-right:active .upper-task-text {
    color: black;
}

.hover-to-the-left:hover {
    width: 282.5px;
    height: 184px;
    margin-bottom: -16px;
    margin-left: -19px;
    box-shadow: var(--btn-shdw-ttb);
}

.hover-to-the-left:hover .upper-img-bg {
    background-color: white;
}

.hover-to-the-left:hover .upper-img-bg>img {
    content: url('../img/icons/summary/hook-dark.svg');
}

.hover-to-the-left:hover .task-amount, .hover-to-the-left:hover .upper-task-text {
    color: white;
}

.hover-to-the-left:active {
    background-color: #F9F9F9;
    box-shadow: var(--btn-shdw-ttb);
    width: 264px !important;
    height: 168px !important;
    margin: 0;
}

.hover-to-the-left:active .upper-img-bg>img {
    content: url('../img/icons/summary/hook.svg');
}

.hover-to-the-left:active .upper-img-bg {
    background-color: var(--primary);
}

.hover-to-the-left:active .upper-img-bg>img {
    filter: unset;
}

.hover-to-the-left:active .task-amount, .hover-to-the-left:active .upper-task-text {
    color: black;
}

.hover-to-the-bottom-right:hover {
    width: 576px;
    height: 184px;
    margin-bottom: -16px;
    margin-right: -16px;
    box-shadow: var(--btn-shdw-ttb);
}

.hover-to-the-bottom-right:hover .task-amount, .hover-to-the-bottom-right:hover .important-text, .hover-to-the-bottom-right:hover .important-text-bold {
    color: white;
}

.hover-to-the-bottom-right:active {
    box-shadow: var(--btn-shdw-ttb);
    background-color: #FFFFFF;
    width: 560px !important;
    height: 168px !important;
    margin: 0;
}

.hover-to-the-bottom-right:active .task-amount, .hover-to-the-bottom-right:active .important-text, .hover-to-the-bottom-right:active .important-text-bold {
    color: black;
}

.hover-to-the-middel:hover {
    width: 184px;
    height: 184px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    margin-bottom: -8px;
    box-shadow: var(--btn-shdw-ttb);
}

.hover-to-the-middel:hover .task-amount, .hover-to-the-middel:hover .upper-task-text {
    color: white;
}

.hover-to-the-middel:active {
    box-shadow: var(--btn-shdw-ttb);
    background-color: #FFFFFF;
    width: 168px !important;
    height: 168px !important;
    margin: 0;
}

.hover-to-the-middel:active .task-amount, .hover-to-the-middel:active .upper-task-text {
    color: black;
}

.hover-to-the-left-small:hover {
    width: 184px;
    height: 184px;
    margin-left: -16px;
    margin-top: -8px;
    margin-bottom: -8px;
    box-shadow: var(--btn-shdw-ttb);
}

.hover-to-the-left-small:hover .task-amount, .hover-to-the-left-small:hover .upper-task-text {
    color: white;
}

.hover-to-the-left-small:active {
    box-shadow: var(--btn-shdw-ttb);
    background-color: #FFFFFF;
    width: 168px !important;
    height: 168px !important;
    margin: 0;
}

.hover-to-the-left-small:active .task-amount, .hover-to-the-left-small:active .upper-task-text {
    color: black;
}

.hover-to-the-right-small:hover {
    width: 184px;
    height: 184px;
    margin-right: -16px;
    margin-top: -8px;
    margin-bottom: -8px;
    box-shadow: var(--btn-shdw-ttb);
}

.hover-to-the-right-small:hover .task-amount, .hover-to-the-right-small:hover .upper-task-text {
    color: white;
}

.hover-to-the-right-small:active {
    box-shadow: var(--btn-shdw-ttb);
    background-color: #FFFFFF;
    width: 168px !important;
    height: 168px !important;
    margin: 0;
}

.hover-to-the-right-small:active .task-amount, .hover-to-the-right-small:active .upper-task-text {
    color: black;
}
