* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--primary);
    width: 232px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

header {
    background-color: white;
    height: 96px;
    margin-left: 232px;
}

main {
    margin-left: 232px;
    background-color: var(--site-bg);
    flex: 1;
    padding-left: 96px;
    padding-top: 110px;
}

a {
    display: block;
    text-decoration: none;
}

a:hover {
    background-color: var(--primary);
}

a:visited {
    color: unset;
} 

/* SUMMARY HEADLINE */

.summary-headline-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.summary-headline {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
}

.vector-seperator {
    height: 59px;
    width: 3px;
    border-radius: 3px;
    background-color: var(--accent);
}

.summary-subheadline {
    font-size: 27px;
    font-weight: 400;
}

/* STRUCTURE MAIN SECTION */

.main-info-container {
    display: flex;
    gap: 80px;
}

/* SUMMARY MAIN */

.summary-main-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 56px;
}

.summary-taskinfo {
    display: flex;
    gap: 32px;
}

.task-to-do-done {
    background-color: white;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    padding: 38px 19px 38px 19px;
    box-shadow: var(--btn-shdw-td);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.task-important {
    background-color: white;
    width: 560px;
    height: 168px;
    border-radius: 30px;
    padding: 38px 19px 38px 19px;
    box-shadow: var(--btn-shdw-td);
}

.task-counter-container {
    display: flex;
    gap: 28px;
}

.task-counter {
    background-color: white;
    width: 168px;
    height: 168px;
    border-radius: 30px;
    padding: 38px 19px 38px 19px;
    box-shadow: var(--btn-shdw-td);
}

/* SUMMARY INFO INNER */

.task-amount {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}

.upper-task-text {
    font-size: 20px;
    font-weight: 400;
}

.upper-img-bg {
    height: 69px;
    width: 69px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* WELCOME CONTAINER */

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.welcome-message {
    font-size: 47px;
    font-weight: 500;
    margin: 0;
}

.username {
    font-size: 64px;
    font-weight: 700;
    color: var(--accent);
    margin: 0;
}