<div id="addtaskTemplate" class="addtask_maindiv">
    <span class="addtask_title">Add Task</span>
    <form action="">
        <div class="addtask_form">
            <div class="addtask_edit">
                <div class="edit_property required">
                    <span>Title</span>
                    <input type="text" placeholder="Enter a title" required>
                </div>
                <div class="edit_property">
                    <span>Description</span>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Enter a Description"></textarea>
                </div>
                <div class="edit_property">
                    <span>Assigned to</span>
                    <div class="edit_assignedcontacts">
                        <div onclick="openAssignedContactsDropDownList()" id="edit_assigned" class="edit_assigned">
                            <input autocomplete="off" id="inputAssignContacts"
                                onkeyup="changeAssignedContactsSearchTerm()"
                                onfocus="openAssignedContactsDropDownList()" type="text"
                                placeholder="Select contacts to assign">
                            <img onclick="clickAssignedContactsDropDownList(event)"
                                src="../img/icons/add-task/arrow_drop_downaa.svg" alt="">
                        </div>
                        <div id="edit_assigned_list" class="edit_assigned_list list_scrollbar">
                            <div id="assignedContacts_1" checked="true" onclick="toggleAssignedContactsCheckState(1)">
                                <span id="atncddm" style="background-color: red;">BS</span>
                                <span id="atncddm">Bela Schramm</span>
                                <img id="atncddm" src="../img/icons/add-task/cf-unchecked-black.svg" alt="">
                                <input type="checkbox" checked name="contactsID" id="contactsCheckbox_1">
                            </div>
                            <div id="assignedContacts_2" checked="false" onclick="toggleAssignedContactsCheckState(2)">
                                <span id="atncddm" style="background-color: red;">BS</span>
                                <span id="atncddm">Nadja Reuther</span>
                                <img id="atncddm" src="../img/icons/add-task/cf-unchecked-black.svg" alt="">
                                <input type="checkbox" name="contactsID" id="contactsCheckbox_2">
                            </div>
                            <div id="assignedContacts_3" checked="false" onclick="toggleAssignedContactsCheckState(3)">
                                <span id="atncddm" style="background-color: red;">BS</span>
                                <span id="atncddm">Simon Henke</span>
                                <img id="atncddm" src="../img/icons/add-task/cf-unchecked-black.svg" alt="">
                                <input type="checkbox" name="contactsID" id="contactsCheckbox_3">
                            </div>
                            <div id="assignedContacts_4" checked="true" onclick="toggleAssignedContactsCheckState(4)">
                                <span id="atncddm" style="background-color: red;">BS</span>
                                <span id="atncddm">Michael Buschmann</span>
                                <img id="atncddm" src="../img/icons/add-task/cf-unchecked-black.svg" alt="">
                                <input type="checkbox" checked name="contactsID" id="contactsCheckbox_4">
                            </div>
                        </div>
                        <div id="assignedcontacts_bar" class="assignedcontacts_bar">
                            <span style="background-color: blue;">BS</span>
                            <span style="background-color: brown;">NR</span>
                            <span style="background-color: rgb(42, 165, 97);">SH</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separatorline"></div>
            <div class="addtask_edit">
                <div class="edit_property required">
                    <span>Due Date</span>
                    <input type="date" placeholder="dd/mm/yyyy" required>
                </div>
                <div class="edit_property">
                    <span>Prio</span>
                    <div class="addtask_priority">
                        <input type="radio" id="taskprio_urgent" name="taskpriority" value="urgent">
                        <label for="taskprio_urgent">Urgent<img src="../img/icons/add-task/Prio-urgent.svg" alt=""></label><br>
                        <input type="radio" id="taskprio_medium" name="taskpriority" value="medium">
                        <label for="taskprio_medium">Medium <img src="../img/icons/add-task/Prio-medium.svg" alt=""></label><br>
                        <input type="radio" id="taskprio_low" name="taskpriority" value="low">
                        <label for="taskprio_low">Low <img src="../img/icons/add-task/Prio-low.svg" alt=""></label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>