<div id="addtaskTemplate">
    <span class="addtask_title">Add Task</span>
    <form id="addtask_form" action="javascript:;" onkeydown="return event.key != 'Enter';" onreset="resetAddTaskForm()" onsubmit="submitAddTaskForm()">
        <div class="addtask_form">
            <div class="addtask_edit">
                <div class="addtask_property required">
                    <span>Title</span>
                    <input name="task_title" type="text" placeholder="Enter a title" required>
                </div>
                <div class="addtask_property">
                    <span>Description</span>
                    <textarea name="task_description" id="" cols="30" rows="10"
                        placeholder="Enter a Description"></textarea>
                </div>
                <div class="addtask_property">
                    <span>Assigned to</span>
                    <div style="position: relative;">
                        <div nolistclose onclick="openDropDownList('addtask_assignet')" id="addtask_assigned"
                            class="addtask_assigned">
                            <input nolistclose autocomplete="off" id="addtask_assignedinput"
                                onkeyup="changeAssignedContactsSearchTerm()"
                                onfocus="openDropDownList('addtask_assignet')" type="text"
                                placeholder="Select contacts to assign">
                            <img id="addtask_assigned_arrow" class="dropdown_arrow"
                                onclick="clickDropDownList(event,'addtask_assignet')"
                                src="../img/icons/add-task/arrow_drop_downaa.svg" alt="">
                        </div>
                        <div nolistclose id="addtask_assigned_list" class="addtask_assigned_list list_scrollbar">
                        </div>
                        <div id="assignedcontacts_bar" class="assignedcontacts_bar"></div>
                    </div>
                </div>
            </div>
            <div class="separatorline"></div>
            <div class="addtask_edit">
                <div class="addtask_property required">
                    <span>Due Date</span>
                    <input id="addtask_duedate" name="task_date" type="date" placeholder="dd/mm/yyyy" required>
                </div>
                <div class="addtask_property">
                    <span>Prio</span>
                    <div class="addtask_priority">
                        <input name="task_priority" type="radio" id="taskprio_urgent" name="taskpriority"
                            value="urgent">
                        <label for="taskprio_urgent"><span>Urgent</span><img
                                src="../img/icons/add-task/Prio-urgent.svg"></label>
                        <input name="task_priority" type="radio" id="taskprio_medium" name="taskpriority"
                            checked="checked" value="medium">
                        <label for="taskprio_medium"><span>Medium</span><img
                                src="../img/icons/add-task/Prio-medium.svg"></label>
                        <input name="task_priority" type="radio" id="taskprio_low" name="taskpriority" value="low">
                        <label for="taskprio_low"><span>Low</span><img src="../img/icons/add-task/Prio-low.svg"></label>
                    </div>
                </div>
                <div class="addtask_property required">
                    <span>Category</span>
                    <div id="addtask_category_div" class="addtask_category_div">
                        <div onclick="clickDropDownList(event,'addtask_category')"></div>
                        <img onclick="clickDropDownList(event,'addtask_category')"
                            src="../img/icons/add-task/arrow_drop_downaa.svg" alt="">
                        <input name="task_category" type="text" tabindex="-1" required
                            placeholder="Select Task Category" id="addtask_category" class="addtask_category">
                        <div id="addtask_category_list" class="addtask_category_list list_scrollbar">
                        </div>
                    </div>
                </div>
                <div class="addtask_property">
                    <span>Subtasks</span>
                    <div addtask_property class="addtask_subtask_div">
                        <input onkeydown="enterSubtaskInput(event)" id="addtask_subtask_input" subtask type="text" placeholder="Add new subtask">
                        <div subtaskadd>
                            <img onclick="setFocus('addtask_subtask_input')" src="../img/icons/add-task/plus.svg"
                                alt="">
                        </div>
                        <div subtaskaction>
                            <img onmousedown="setInputValueAndFocus('addtask_subtask_input')"
                                src="../img/icons/add-task/cancel.svg" alt="">
                            <div></div>
                            <img onmousedown="createNewSubTask()" src="../img/icons/add-task/ok.svg" alt="">
                        </div>
                    </div>
                    <div id="subtask_list" class="subtask_list list_scrollbar"></div>
                </div>
            </div>
        </div>
        <div class="task_action">
            <div>
                <span>*</span>
                <span>This field is required</span>
            </div>
            <div>
                <button class="btnCancel" type="reset">
                    <div>
                        <span>Clear</span>
                        <img src="../img/icons/add-task/cancel.svg" alt="">
                    </div>
                </button>
                <button class="btnAddOk">
                    <div>
                        <span>Create task</span>
                        <img src="./img/icons/board/add.svg" alt="">
                    </div>
                </button>
            </div>
        </div>
    </form>
</div>