<span class="header-kanbanboard-headline">Kanban Project Management Tool</span>
<div class="header-help-user-container">
    <a class="header-help-link" href="./help.html">
        <img src="./img/icons/header/help.svg" alt="Help">
    </a>
    <div class="header-user-bg" onclick="toggleHeaderMenu()">
        <span class="header-user">SM</span>
    </div>
</div>
<div id="headerMenu" class="header-menu-container">
    <a class="header-menu-link" href="#">Legal Notice</a>
    <a class="header-menu-link" href="#">Privacy Policy</a>
    <a class="header-menu-link" href="#">Log out</a>
</div>