<nav id="navbar">
    <div class="navbar_logo">
        <div class="site_description">
            <img src="./img/logo/logo_white.png" />
        </div>
    </div>
    <div class="nav_list">
        <div id="nav_elements" class="nav_elements">
            <a mainmenulink href="./summary.html" class="nav_list_element">
                <img src="./img/icons/general/white/summary-white.svg" alt="Summary">
                <span>Summary</span>
            </a>
            <a mainmenulink href="./addtask.html" class="nav_list_element">
                <img src="./img/icons/general/white/edit_square.svg" alt="add_task">
                <span>Add Task</span>
            </a>
            <a mainmenulink href="./board.html" class="nav_list_element">
                <img src="./img/icons/general/white/board-white.svg" alt="Board">
                <span>Board</span>
            </a>
            <a mainmenulink href="./contacts.html" class="nav_list_element">
                <img src="./img/icons/general/white/contacts-white.svg" alt="contacts">
                <span>Contacts</span>
            </a>
        </div>
    </div>
    <div class="nav_security_links">
        <a securitylink class="nav_list_element" href="./privacy_policy.html">Privacy Policy</a>
        <a securitylink class="nav_list_element" href="./legal_notice.html">Legal notice</a>
    </div>
</nav>