<nav id="navbar">
    <div class="navbar_logo">
        <div class="site_description">
            <img src="./img/logo/logo_white.png" />
        </div>
    </div>
    <div class="nav_list">
        <div class="nav_elements">
            <div class="nav_list_element">
                <img class="w_25" src="./img/icons/general/white/summary-white.svg" alt="Home">
                <span><b>Summary</b></span>
            </div>
            <div class="nav_list_element">
                <img class="w_25" src="./img/icons/general/white/edit_square.svg" alt="Suche">
                <span>Add Task</span>
            </div>
            <div class="nav_list_element">
                <img class="w_25" src="./img/icons/general/white/board-white.svg" alt="Entdecken">
                <span>Board</span>
            </div>
            <div class="nav_list_element">
                <img class="w_25" src="./img/icons/general/white/contacts-white.svg" alt="Reels">
                <span>Contacts</span>
            </div>
        </div>
    </div>
    <div class="nav_security_links">
        <a href="../privacy_policy.html">Privacy Policy</a>
        <a href="../legal_notice.html">Legal notice</a>
    </div>
</nav> 